.code1{
  font-family: Monospace;
  font-size: 10pt;
  color: black;
  background-color: #dfe6eb;
}

.code2{
  font-family: Monospace;
  font-size: 10pt;
  color: #FF0000;
  background-color: #FEFEBE;
}

.output{
  font-family: Monospace;
  font-size: 10pt;
  background-color: #e4e9e2;
}

.warning{
  font-family: Monospace;
  font-size: 10pt;
  background-color: #eed0d4;
}